**/node_modules/**
**/dist/**
**/target/**
**/.mvn/**
**/static/**
.classpath
.settings
.project
**/.idea/**
**.iml**
npm-debug.log
**/uploads/**
**/logs/**
**/properties/**
**/2-PRIVILEGES.sql
**/back/application.properties
**/docker/data
**/docker/back/app.jar
