<h5>Visites sur le profil :</h5>

<div class="container" *ngIf="visits">
  <div class="row" *ngFor="let visit of visits">
    <div>
      <div class="col-sm-3">
        <a [routerLink]="['/app/profile/', visit.visitor.id ]"><img style="width: 80px; height:80px;" src="{{ uploadImageUrl }}{{ visit.visitor.images[0].url }}/image" class="img-circle center-block"></a>
      </div>
      <a [routerLink]="['/app/profile/', visit.visitor.id ]">
        <div class="col-sm-6">
          <h5>{{ visit.visitor.username }}</h5>
          <h6>{{ visit.visitor.age }} ans, <strong>{{ visit.visitor.area.name }}, {{ visit.visitor.country.name}} <span class="flag-icon flag-icon-{{ visit.visitor.country.flag }}"></span></strong></h6>
        </div>
        <div class="col-sm-3">
          <br>
          <p>{{ visit.visitedDate }}</p>
        </div>
      </a>
      <hr>
    </div>
  </div>
</div>



