<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Dominapp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Bonjour <span th:text="${userName}"></span></p>
<p>Merci de vous être inscrit sur Dominapp, l'application de rencontre en femmes Dominantes et homme soumis.</p>
<p>Veuillez valider votre compte en cliquant sur ce <a th:href="${validationUrl}">lien</a></p>
<p>L'équipe <strong>Dominapp</strong></p>
</body>
</html>