<style>
  .navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
</style>
<ul class="nav navbar-nav navbar-right unauth-navbar-right">
  <li><input type="email" name="email" class="form-control" (keyup.enter)="send()" placeholder="Email" [(ngModel)]="authentication.email" required autofocus></li>
  <li>&nbsp; &nbsp;</li>
  <li>
    <input type="password" name="password" (keyup.enter)="send()" [(ngModel)]="authentication.password" class="form-control" placeholder="Mot de passe" required>
    <a [routerLink]="['/unauth/password/forgotten']" class="unauth-li-a forgot-password">Mot de passe oublié ?</a>
  </li>
  <li>&nbsp; &nbsp;</li>
  <li><button class="btn btn-default btn-block btn-signin" (click)="send()" type="submit">OK</button></li>
  <li><app-spinner [loading]="loading"></app-spinner></li>
</ul>
