<form class="form-horizontal" #uploadForm="ngForm" [hidden]="!show">
  <fieldset>
    <div class="form-group">
      <div class="col-sm-2" *ngFor="let image of user.images; let i = index">
        <img class="small-image center-block" src="{{ uploadImageUrl }}{{ image.url }}">
        <br>
        <div class="col-sm-6" *ngIf="image.url != 'profile.png' && i != 0">
          <button class="btn btn-default btn-sm center-block" (click)="setAsProfile(image.orderNumber)"><span class="glyphicon glyphicon-user"></span></button>
        </div>
        <div class="col-sm-6">
          <button class="btn btn-default btn-sm center-block" (click)="deleteImage(image.orderNumber)"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
      </div>
    </div>
    <hr>
    <div class="form-group" *ngIf="addImage">
    </div>
    <div class="form-group">
      <div class="col-sm-4">
        <input name="file" type="file" (change)="fileChangeEvent($event)" required autofocus (keyup.enter)="send(uploadForm.form.valid)">
      </div>
      <div class="col-sm-3">
        <button type="submit" class="btn btn-success" (click)="send(uploadForm.form.valid)"><span class="glyphicon glyphicon-plus"></span></button>
      </div>
    </div>
  </fieldset>
</form>
