<form class="form-horizontal" (ngSubmit)="updatePassword()" #passwordResetForm="ngForm" [hidden]="!show">
  <fieldset>
    <div class="form-group">
      <div class="col-sm-5">
        <input type="password" class="form-control" required placeholder="Mot de passe actuel"  name="current" [(ngModel)]="passwordConfirmation.current">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-5">
        <input type="password" minlength="6" class="form-control" required placeholder="Mot de passe" name="password" [(ngModel)]="passwordConfirmation.password">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-5">
        <input type="password" minlength="6" class="form-control" required placeholder="Confirmation" name="confirmation" [(ngModel)]="passwordConfirmation.confirmation">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-1">
        <button type="submit" class="btn btn-sm btn-danger">Valider</button>
      </div>
      <app-spinner [loading]="loading"></app-spinner>
    </div>
  </fieldset>
</form>
