<form class="form-horizontal" (ngSubmit)="send(sendForm.form.valid)" #sendForm="ngForm" [hidden]="!show">
  <fieldset>

    <div class="checkbox">
      <label><input type="checkbox" name="notifyMessage" [(ngModel)]="alerts.notifyMessage">Recevoir un mail à chaque message</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="notifyVisit" [(ngModel)]="alerts.notifyVisit">Recevoir un mail à chaque visite</label>
    </div>

    <br>
    <div class="form-group">
      <div class="col-sm-1">
        <button type="submit" class="btn btn-sm btn-danger">Valider</button>
      </div>
      <app-spinner [loading]="loading"></app-spinner>
    </div>
    </fieldset>
</form>
