<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Dominapp</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1" >
  <link rel="icon" type="image/png" href="assets/img/favicon.png" sizes="16x16" />
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css" />
  <link href="assets/toastr/ng2-toastr.min.css" rel="stylesheet" />
  <link href="assets/flag-icon-css/css/flag-icon.css" rel="stylesheet" />
<link href="styles.1c8b6eba09aa7cdfa899.bundle.css" rel="stylesheet"/></head>

<body>
<app-root>
  <div class="col-xs-offset-5">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</app-root>
<script type="text/javascript" src="inline.c7e6a84458721bda4f1f.bundle.js"></script><script type="text/javascript" src="polyfills.7f9a67b0c75fd99641f0.bundle.js"></script><script type="text/javascript" src="vendor.7b5544a48f47d38df4fe.bundle.js"></script><script type="text/javascript" src="main.592cb91f9e0589aceb67.bundle.js"></script></body>

<script src="assets/js/jquery-1.11.1.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93622202-1', 'auto');
  ga('send', 'pageview');
</script>
</html>
