<app-flash-message-error [error]="error"></app-flash-message-error>
<app-flash-message-success [success]="success"></app-flash-message-success>

<div class="container">

  <h2> Messenger</h2>

  <hr>

  <form class="form-horizontal" (ngSubmit)="send(sendForm.form.valid)" #sendForm="ngForm">
    <fieldset>
      <legend>Créer un compte :</legend>

      <div class="form-group">
        <div class="col-sm-5">
          <input type="text" class="form-control" required placeholder="Nom d'utilisateur" (keyup.enter)="updateInformation(informationForm.form.valid)" name="username" [(ngModel)]="user.username">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-5">
          <input type="email" class="form-control" required placeholder="Email" name="email" (keyup.enter)="updateInformation(informationForm.form.valid)" [(ngModel)]="user.email">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-5">
          <input type="text" class="form-control" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])\/(0[1-9]|1[012])\/[0-9]{4}" required placeholder="Date de naissance (jj/mm/aaaa)" (keyup.enter)="updateInformation(informationForm.form.valid)" name="birthDate" [(ngModel)]="birthDate">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-5">
          <input type="password" class="form-control" required placeholder="Mot de passe" name="password" [(ngModel)]="passwordRegister.password">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-5">
          <input type="password" class="form-control" required placeholder="Confirmation" name="confirmation" [(ngModel)]="passwordRegister.confirmation">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-5" *ngIf="types">
          <label>Type :</label>
          <select class="form-control" [(ngModel)]="user.userType.id" name="userType" required>
            <option *ngFor="let type of types" [value]="type.id">{{ type.name }}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10" *ngIf="fetishes">
          <label>Pratiques :</label>
          <div class="radio">
            <label *ngFor="let fetish of fetishes; let i = index">
              <input type="checkbox" name="fetishes"  value="{{ option }}" [checked]="selectedFetishId.indexOf(fetish.id) >= 0" (change)="updateCheckedFetishes(fetish, $event)">
              {{ fetish.name }}
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-5" *ngIf="localizations">
          <label>Région :</label>
          <select class="form-control" [(ngModel)]="user.localization.id" name="localization" required>
            <option *ngFor="let localization of localizations" [value]="localization.id">{{ localization.name }}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <label>Description :</label>
          <textarea class="form-control" rows="4" name="description" (keyup.enter)="send(sendForm.form.valid)" [(ngModel)]="user.description" required></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-success">Valider</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
