<div class="container">

  <h2> Messenger</h2>

  <hr>

  <form class="form-horizontal" (ngSubmit)="send(sendForm.form.valid)" #sendForm="ngForm">
    <fieldset>
      <legend>Créer un compte :</legend>

      <div class="form-group">
        <div class="col-sm-5">
          <input type="text" class="form-control" required placeholder="Nom d'utilisateur" (keyup.enter)="updateInformation(informationForm.form.valid)" name="username" [(ngModel)]="user.username">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-5">
          <input type="email" class="form-control" required placeholder="Email" name="email" (keyup.enter)="updateInformation(informationForm.form.valid)" [(ngModel)]="user.email">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-5">
          <input type="text" class="form-control" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])\/(0[1-9]|1[012])\/[0-9]{4}" required placeholder="Date de naissance (jj/mm/aaaa)" (keyup.enter)="updateInformation(informationForm.form.valid)" name="birthDate" [(ngModel)]="birthDate">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-5">
          <input type="password" class="form-control" required placeholder="Mot de passe" name="password" [(ngModel)]="password">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-5" *ngIf="types">
          <label>Type :</label>
          <select class="form-control" [(ngModel)]="user.userType.id" name="userType" required>
            <option *ngFor="let type of types" [value]="type.id">{{ type.name }}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-5" *ngIf="constants">
          <label>Pays :</label>
          <select class="form-control" [(ngModel)]="user.country.id" name="country" required>
            <option *ngFor="let country of constants.countries" [value]="country.id">{{ country.name }}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-5" *ngIf="constants">
          <label>Région :</label>
          <select class="form-control" [(ngModel)]="user.area.id" name="area" required [ngSwitch]="user.country.id">
            <ng-container *ngSwitchCase="1">
              <option *ngFor="let area of constants.franceAreas" [value]="area.id">{{ area.name }}</option>
            </ng-container>

            <ng-container *ngSwitchCase="2">
              <option *ngFor="let area of constants.belgiumAreas" [value]="area.id">{{ area.name }}</option>
            </ng-container>

            <ng-container *ngSwitchCase="3">
              <option *ngFor="let area of constants.luxemburgAreas" [value]="area.id">{{ area.name }}</option>
            </ng-container>

            <ng-container *ngSwitchCase="4">
              <option *ngFor="let area of constants.swissAreas" [value]="area.id">{{ area.name }}</option>
            </ng-container>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10" *ngIf="constants">
          <label>Pratiques :</label>
          <div class="radio">
            <label *ngFor="let fetish of constants.fetishes; let i = index">
              <input type="checkbox" name="fetishes"  value="{{ option }}" [checked]="selectedFetishId.indexOf(fetish.id) >= 0" (change)="fetishService.updateCheckedFetishes(fetish, $event, selectedFetishId)">
              {{ fetish.name }}
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <label>Description :</label>
          <textarea class="form-control" rows="4" name="description" (keyup.enter)="send(sendForm.form.valid)" [(ngModel)]="user.description" required></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-success">Valider</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
