<div class="thumbnail" *ngIf="!loading">
  <div class="row">
    <div class="col-sm-12">
      <div class="buttons">
        <a type="button" [routerLink]="['/app/conversation/', user.id]" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> Message</a>
      </div>
    </div>

    <div class="profile">
      <div class="col-sm-3">
        <img src="/public/img/profile.jpg" style="width: 200px; height: 200px;" class="img-circle center-block">
      </div>
      <div class="col-sm-9">
        <h2>{{ user.username }}</h2>
        <h5>{{ user.age }} ans, {{ user.localization.name }}</h5>
        <br>
        <h4>Description :</h4>
        <p>{{ user.description }}</p>
        <br>
        <h4>Pratique(s) :</h4>
        <span class="label label-default" style="margin-right: 3%;" *ngFor="let fetish of user.fetishes">{{ fetish.name }}</span>
      </div>
    </div>
  </div>
</div>
