<h3>À propos :</h3>

<p>En tant que jeune <strong>développeur web</strong>, et passionné par le monde de la <strong>suprématie féminine</strong>, j'ai créé ce site afin de faciliter la rencontre de femmes <strong>Dominatrices</strong> et d'hommes <strong>soumis</strong></p>
<p>Je travaille à l'<strong>amélioration</strong> de ce site afin d'attirer un <strong>maximum</strong> d'utilisateurs.</p>
<p>Le développement et le maintien de ce site prends du temps, si vous êtes <strong>passionné(e)</strong> par le développement et que vous souhaitez me <strong>rejoindre</strong> sur ce projet, vous pouvez me contacter à l'adresse suivante : <strong>contact@dominapp.com</strong>.
<p>Si vous constatez un <strong>bug</strong>, je vous remercie de bien vouloir me contacter à l'adresse suivante : <strong>contact@dominapp.com</strong>.</p>
<p>Pour tout autre <strong>suggestion</strong> je vous invite à me contacter à la même <strong>adresse</strong>.</p>
