<div class="jumbotron">
  <h3><strong> Devenez premium :</strong></h3>
  <hr>
  <h4><i class="glyphicon-euro glyphicon"></i><strong> 19,99 € / mois </strong></h4>
  <p><i class="glyphicon glyphicon-envelope"></i> Vous pourrez envoyez des messages aux autres membres du site.</p>
  <p><i class="glyphicon glyphicon-eye-open"></i> Vous pourrez consulter les visites de votre profil.</p>
  <p><i class="glyphicon glyphicon-info-sign"></i> L'abonnement peut être interrompu à tout moment.</p>
  <p><a class="btn btn-primary btn-lg"> Devenir premium <i class="glyphicon glyphicon-shopping-cart"></i> </a></p>
</div>






