<app-error [error]="error"></app-error>
<app-success [success]="success"></app-success>

<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" (ngSubmit)="send(sendForm.form.valid)" #sendForm="ngForm">
      <span id="reauth-email" class="reauth-email">Redéfinir le mot de passe</span>

      <input type="password" name="password" class="form-control" placeholder="Mot de passe" required autofocus [(ngModel)]="passwordConfirmation.password">
      <br>
      <input type="password" name="confirmation" class="form-control" placeholder="Confirmation" required [(ngModel)]="passwordConfirmation.confirmation" (keyup.enter)="send(sendForm.form.valid)">
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Envoyer</button>
    </form>
  </div>
</div>
