<app-flash-message-success [success]="success"></app-flash-message-success>
<app-flash-message-error [error]="error"></app-flash-message-error>

<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" (ngSubmit)="send(sendForm.form.valid)" #sendForm="ngForm">
      <span id="reauth-email" class="reauth-email">Réinitialiser le mot de passe</span>
      <input type="email" (keyup.enter)="send(sendForm.form.valid)" name="email" class="form-control" placeholder="Email" required autofocus [(ngModel)]="email">
      <br>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Envoyer</button>
    </form>
  </div>
</div>
