<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="unauth-navbar-brand navbar-brand" [routerLink]="['/app/home']" style="margin-top: 10px;"><h4><strong>Dominapp    </strong></h4></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a class="navbar-links" [routerLink]="['/app/admin']" routerLinkActive="active" *ngIf="isUserAdmin"><span class="glyphicon glyphicon-cog"></span> Administration</a></li>
        <li><a class="navbar-links" [routerLink]="['/app/conversation']" routerLinkActive="active"><span class="glyphicon glyphicon-envelope"></span> Messagerie  <span class="badge" *ngIf="unreadConversations != 0">{{ unreadConversations }}</span></a></li>
        <li><a class="navbar-links" [routerLink]="['/app/visits']" routerLinkActive="active"> <span class="glyphicon glyphicon-eye-open"></span> Visites  <span class="badge" *ngIf="unseenVisits != 0">{{ unseenVisits }}</span></a></li>
        <li><a class="navbar-links" [routerLink]="['/app/search']" routerLinkActive="active"> <span class="glyphicon glyphicon-search"></span> Rechercher</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/app/profile']"><img class="image header-image" src="{{ uploadImageUrl }}{{ user.images[0].url }}/image"></a></li>
        <li><a class="navbar-links" [routerLink]="['/app/profile']" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> &nbsp; {{ user.username }}</a></li>
        <li><a class="pointer navbar-links" (click)="logout()"><span class="glyphicon glyphicon-off"></span> </a></li>
      </ul>
    </div>
  </div>
</nav>
