/** spinner **/

.spinner {
  margin: 15px auto 0;
  width: 70px;
  text-align: center;
  display: inline-block;
}

.spinner > div {
  width: 13px;
  height: 13px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
}
