<form class="form-horizontal" [hidden]="!show">
  <p *ngIf="user.blockedUsers.length == 0">Aucun utilisateur bloqué</p>

  <fieldset>
    <div class="form-group" *ngFor="let user of user.blockedUsers">
      <div class="col-sm-3">
        <p>{{ user.username }}</p>
      </div>
      <div class="col-sm-1">
        <button type="button" (click)="unblock(user)" class="btn btn-sm btn-danger">Débloquer</button>
      </div>
      <app-spinner [loading]="loading"></app-spinner>
    </div>
  </fieldset>
</form>
