<div class="send-wrap" *ngIf="sendImage && !isUserBlocked">
  <input style="margin-top: 10px;" name="file" type="file" (change)="fileChangeEvent($event)" required autofocus>
  <h6 *ngIf="file"><i class="glyphicon glyphicon-picture"></i> {{ file.name }} &nbsp; <button class="btn btn-danger" (click)="uploadImage()"><i class="glyphicon glyphicon-send"></i></button></h6>
  <br>
  <a class="pointer" (click)="cancelSendImage()">Annuler</a>
</div>
<form (ngSubmit)="send()" #sendForm="ngForm">
  <div class="send-wrap" *ngIf="!sendImage && !isUserBlocked">
    <textarea #sendTextArea (keyup.enter)="sendEnter()" name="content" required class="form-control send-message" rows="3" placeholder="Envoyer un message ..." [(ngModel)]="message.content"></textarea>
  </div>

  <div class="btn-panel">
    <a *ngIf="!sendImage && !isUserBlocked && messages && messages.length > 0" class=" col-sm-3 btn" role="button" (click)="sendImage = true"><i class="fa fa-cloud-upload"></i> Envoyer une Image</a>

    <div class="checkbox col-sm-3 col-sm-offset-2" *ngIf="!sendImage && !isUserBlocked">
      <label>
        <input type="checkbox" name="enter" [(ngModel)]="enter"> Entrer = Envoyer
      </label>
    </div>
    <button *ngIf="!sendImage && !isUserBlocked" type="submit" class="col-sm-2 text-right btn btn-default send-message-btn pull-right" [disabled]="!sendForm.form.valid"><i class="glyphicon glyphicon-send"></i>   Envoyer</button>
  </div>
</form>

<div class="send-wrap" *ngIf="isUserBlocked">
  <p>Cet utilisateur est bloqué</p>
</div>
