<!-- The Modal -->
<div id="myModal" [ngClass]="{display: selectedImage != null }" class="modal">
  <span class="close" (click)="selectedImage = null">&times;</span>
  <img *ngIf="selectedImage" class="modal-content" src="{{ uploadImageUrl }}{{ selectedImage.url }}/image">
</div>

<div class="thumbnail" style="padding: 20px;">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="pull-left">
        <div class="col-xs-6">
          <a type="button" [routerLink]="['/app/conversation/', user.id]" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> Message</a>
        </div>
        <div class="col-xs-6">
          <button type="button" class="btn btn-default" (click)="report(user.id)" ><span class="glyphicon glyphicon-warning-sign"></span> Signaler</button>
        </div>
      </div>
      <div class="pull-right">
        <app-last-activity [lastActivityDatetime]="user.lastActivityDatetime"></app-last-activity>
      </div>
    </div>

    <div class="profile">
      <div class="col-sm-5">
        <img style="" src="{{ uploadImageUrl }}{{ user.images[0].url }}/image" (click)="selectedImage = user.images[0]" class="img-circle image medium-image center-block">
        <br>
        <div class="row">
          <h5 style="text-decoration: underline" *ngIf="user.images.length > 1">Autres photos :</h5>
          <img style="margin-top: 5%;" src="{{ uploadImageUrl }}{{ user.images[1].url }}/image" class="medium-image image" *ngIf="user.images[1]" (click)="selectedImage = user.images[1]">
          <span>&nbsp;</span>
          <img style="margin-top: 5%;" src="{{ uploadImageUrl }}{{ user.images[2].url }}/image" class="medium-image image" *ngIf="user.images[2]" (click)="selectedImage = user.images[2]">
        </div>
      </div>
      <div class="col-sm-6">
        <h4><strong>{{ user.username }}</strong></h4>
        <h5>{{ user.age }} ans, <strong>{{ user.area.name }}, {{ user.country.name}} <span class="flag-icon flag-icon-{{ user.country.flag }}"></span></strong></h5>
        <br>
        <h4>Description :</h4>
        <p>{{ user.description }}</p>
        <br>
        <h4>Pratique(s) :</h4>
        <div class="row">
          <div class="col-sm-2" *ngFor="let fetish of user.fetishes">
            <span class="label label-default">{{ fetish.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
