/* You can add global styles to this file, and also import other style files */

.alert-messages {
  padding: 0px 12px;
}

.small-text {
  font-size: 10px;
}

.pointer {
  cursor: pointer;
}
.medium-image {
  width: 150px;
  height: 150px;
}

.header-image {
  width: 20px;
  height: 20px;
}

.conversation-image {
  width: 50px;
  height: 50px;
}
