/* You can add global styles to this file, and also import other style files */

.unauth-navbar-right {
  padding-top: 20px;
}

.unauth-navbar-brand {
  font-weight: bold;
  padding-top: 5px;
}

.alert-messages {
  padding: 0px 12px;
}

.small-text {
  font-size: 10px;
}

.pointer {
  cursor: pointer;
}

.small-image {
  width: 100px;
  height: 100px;
}

.xsmall-image {
  width:60px;
  height: 60px;
}

.medium-image {
  width: 150px;
  height: 150px;
}

.header-image {
  margin-top: 5px;
  width: 35px;
  height: 35px;
}

.conversation-image {
  width: 50px;
  height: 50px;
}
