<form class="form-horizontal" (ngSubmit)="send(sendForm.form.valid)" #sendForm="ngForm" [hidden]="!show">
  <fieldset>

    <div class="form-group">
      <div class="col-sm-5" *ngIf="constants">
        <label>Pays :</label>
        <select class="form-control" [(ngModel)]="user.country.id" name="country" required>
          <option *ngFor="let country of constants.countries" [value]="country.id">{{ country.name }}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-5" *ngIf="constants">
        <label>Région :</label>
        <select class="form-control" [(ngModel)]="user.area.id" name="area" required [ngSwitch]="user.country.id">
          <ng-container *ngSwitchCase="1">
            <option *ngFor="let area of constants.franceAreas" [value]="area.id">{{ area.name }}</option>
          </ng-container>

          <ng-container *ngSwitchCase="2">
            <option *ngFor="let area of constants.belgiumAreas" [value]="area.id">{{ area.name }}</option>
          </ng-container>

          <ng-container *ngSwitchCase="3">
            <option *ngFor="let area of constants.luxemburgAreas" [value]="area.id">{{ area.name }}</option>
          </ng-container>

          <ng-container *ngSwitchCase="4">
            <option *ngFor="let area of constants.swissAreas" [value]="area.id">{{ area.name }}</option>
          </ng-container>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        <label>Pratiques :</label>
        <div class="radio">
          <label *ngFor="let fetish of constants.fetishes; let i = index">
            <input type="checkbox" name="fetishes"  value="{{ option }}" [checked]="selectedFetishId.indexOf(fetish.id) >= 0" (change)="updateCheckedFetishes(fetish, $event)">
            {{ fetish.name }}
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        <label>Description :</label>
        <textarea class="form-control" rows="4" name="description" (keyup.enter)="send(sendForm.form.valid)" [(ngModel)]="user.description" autofocus required></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-success">Valider</button>
      </div>
    </div>
  </fieldset>
</form>
