<div class="container">
  <form class="form-horizontal" ngNativeValidate>
    <fieldset>
      <legend >Redéfinir le mot de passe <span class="glyphicon glyphicon-chevron-down"></span></legend>

      <div class="form-group">
        <div class="col-sm-5">
          <input type="password" class="form-control" name="password" class="form-control" placeholder="Mot de passe" required [(ngModel)]="passwordConfirmation.password">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-5">
          <input type="password" class="form-control" (keyup.enter)="send()" name="password" class="form-control" placeholder="Confirmation" required autofocus [(ngModel)]="passwordConfirmation.confirmation">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-1">
          <button type="button" class="btn btn-default" (click)="send()">Envoyer</button>
        </div>
        <app-spinner [loading]="loading"></app-spinner>
      </div>
    </fieldset>
  </form>
</div>
