<!-- The Modal -->
<div id="myModal" [ngClass]="{display: selectedImage != null }" class="modal">
  <span class="close" (click)="selectedImage = null">&times;</span>
  <img *ngIf="selectedImage" class="modal-content" src="{{ uploadImageUrl }}{{ selectedImage.url }}/image">
</div>

<div class="col-sm-12" *ngIf="selectedConversation">
  <div class="col-sm-4">
    <a [routerLink]="['/app/profile', selectedConversation.userTwo.id ]"><strong>{{ selectedConversation.userTwo.username}}</strong></a>
  </div>
  <div class="col-sm-4">
    <app-last-activity [lastActivityDatetime]="selectedConversation.userTwo.lastActivityDatetime"></app-last-activity>
  </div>

  <div class="col-sm-4">
    <div class="dropdown pull-right">
      <button class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Paramètres
        <span class="glyphicon glyphicon-cog"></span>
      </button>
      <ul class="dropdown-menu small-text pointer">
        <li><a (click)="deleteConversation()"><span class="glyphicon glyphicon-trash"></span> Supprimer la conversation </a></li>
        <li *ngIf="!isUserBlocked"><a (click)="block()"><span class="glyphicon glyphicon-ban-circle"></span> Bloquer l'utilisateur </a></li>
        <li *ngIf="isUserBlocked"><a (click)="unblock()"><span class="glyphicon glyphicon-ban-circle"></span> Débloquer l'utilisateur </a></li>
      </ul>
    </div>
  </div>
</div>

<div class="msg-wrap" *ngIf="messages.length > 0">
  <div class="text-center" *ngIf="pager && !pager.last">
    <a class="btn btn-sm" (click)="scrollUp()"><span class="glyphicon glyphicon-chevron-up"></span></a>
  </div>
  <div class="media msg" *ngFor="let message of messages; let i = index">
    <div class="media-body">
      <p [ngClass]="{'align-right': message.source.id !== selectedConversation.userOne.id }" *ngIf="!messages[i-1] || (messages[i-1] && messages[i-1].source.id != message.source.id)">{{ message.source.username }}</p>
      <small [ngClass]="{'pull-right other-user-message': message.source.id !== selectedConversation.userOne.id }"  class="message" *ngIf="message.type == 'TEXT'">
        {{ message.content }}
      </small>

      <small *ngIf="message.type == 'IMAGE'">
        <a (click)="selectedImage = message" [ngClass]="{'pull-right': message.source.id !== selectedConversation.userOne.id }"><img src="{{ uploadImageUrl }}{{ message.url }}/image" class="image medium-image"></a>
      </small>
    </div>
    <small  [ngClass]="{'pull-right': message.source.id !== selectedConversation.userOne.id }" class="time" *ngIf="!messages[i+1] || (messages[i+1] && messages[i+1].source.id != message.source.id)"><i class="fa fa-clock-o"></i> {{ message.sendSince }}</small>
  </div>
  <small class="pull-right time" [innerHTML]="isRead ? 'Lu' : 'Envoyé'" ></small>
</div>


<div class="msg-wrap" *ngIf="messages.length == 0">
</div>
